@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes accordion-open {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100vh;
  }
}

@keyframes accordion-close {
  0% {
    max-height: 100vh;
  }

  100% {
    max-height: 0;
  }
}

@keyframes bg-zoom {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 120% 120%;
  }

  100% {
    background-size: 100% 100%;
  }
}
